{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者名</label>
                        </dt>
                        <dd>プチプラタウン　田中 学</dd>
                    </dl>
                   <dl>
                        <dt>
                            <label class="ec-label">販売責任者</label>
                        </dt>
                        <dd>
                            田中 学
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>
                            島根県松江市東津田町2168-230

                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>0852256689</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:">info@putipuratown.jpn.org</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                            <dd><a href="https://putipuratown.jpn.org/">プチプラタウン</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>販売価格とは別に送料、代引き払いの場合は手数料がかかります。<br>送料は地域によって異なります。ご注文手続きのページに記載してあります。<br>送料：167円（下限）〜2750円（上限）<br>代引き手数料：300円</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご入金確認またはご注文から１週間以内に発送</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>・クレジットカード決済(VISA/MasterCard/JCB/AMEX/Diners)<br>
                        <img src="/html/user_data/assets/img/common/card_5brand.png" alt="" >
                        ・代金引換<br>
                        ・銀行振込決済(住信SBIネット銀行・楽天銀行・PayPay銀行)<br>
                        　銀行振込決済の詳細は下記をご確認下さい。<br>
                        　<a href="https://www.cardservice.co.jp/info/bank/pc/" class="btn btn--red btn--radius btn--cubic">PCはこちら</a><br>
                        　<a href="https://www.cardservice.co.jp/info/bank/m/" class="btn btn--red btn--radius btn--cubic">スマホはこちら</a><br>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。品違いや不良品だった場合は弊社送料負担にて対応いたします。</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd>商品到着後７日以内とさせていただきます。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
